.autofalante {
    position: fixed;
    background-color: white;
    height: 150px;
    width: 150px;
    margin-left: 730px;
    margin-top: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color:  #045FB4;    
    border: none;
} 

.repeticao {
    position: fixed;
    background-color: white;
    height: 100px;
    width: 100px;
    margin-left: 760px;
    margin-top: 170px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color:  #045FB4;   
}

.score {
    position: fixed;
    background-color: white;
    height: 70px;
    width: 500px;
    margin-left: 560px;
    margin-top: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color:  #045FB4;
}

.container {
    background-color:white; 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    height:400px;
    width: 880px;
    margin-top: 250px;
    margin-left: 370px;
    margin-right: 7px;
    margin-bottom: 7px;
    display: inline-block;
    position: fixed;      
  }
  
.botaoLetra {    
    background-color: #2E9AFE; 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: white;
    height: 2cm;
    width: 2cm;
    margin-top: 7px;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 7px;
    border: solid 1px blue;
    border-radius: 20%;
  }
  
  .botaoLetra:hover {
    background-color: #045FB4;
    border:2px solid black;
    border-radius: 20%;
    cursor: pointer;
  }

  .botaoLetra:active {
   border: none;
   outline: none;
  }

  .resultadoErrado {
    background-color:white; 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: red;
    height:400px;
    width: 400px;
    margin-top: 250px;
    margin-left: 620px;
    margin-right: 7px;
    margin-bottom: 7px;
    display: inline-block;
    position: fixed;      
  }

  .resultadoCerto {
    background-color:white; 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: green;
    height:400px;
    width: 400px;
    margin-top: 250px;
    margin-left: 610px;
    margin-right: 7px;
    margin-bottom: 7px;
    display: inline-block;
    position: fixed;      
  }

  .final{
    position: fixed;
    background-color:white; 
    height:100px;
    width: 600px;
    margin-top: 200px;
    margin-left: 570px;
  }

  .botaoRepetir{
    background-color: #2E9AFE;
    height: 70px;
    width: 220px;
    margin-right: 60px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color:  white;
    border: 1px solid blue;
  }

  .botaoRepetir:hover {
   background-color:#045FB4; 
   border: 2px solid black;
   cursor: pointer;

  }
  .botaoEstudar {
    background-color:  #2E9AFE;
    height: 70px;
    width: 220px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color:  white;   
    border: 1px solid blue; 
  }

  .botaoEstudar:hover{
    background-color:#045FB4; 
    border: 2px solid black;
    cursor: pointer;
   }