.container {
  background-color:white; 
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: bold;
  height:445px;
  width: 680px;
  margin-top: 100px;
  margin-left: 550px;
  margin-right: 7px;
  margin-bottom: 7px;
  display: inline-block;
  position: fixed;
 
  
}

.botaoLetra {
  background-color: #2E9AFE; 
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: white;
  height: 2cm;
  width: 2cm;
  margin-top: 7px;
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 7px;
  border: solid 1px black;
  border-radius: 20%;
}

.botaoLetra:hover {
  background-color: #045FB4;
  border:2px solid black;
}

.botaoLetra:focus {
  border: solid 1px black;
  border-radius: 20%;
  outline: none;
 }

.pronuncia {
position: fixed;
background-color: rgb(71, 207, 78);
height: 72px;
width: 5cm;
margin-left: 320px;
margin-top: 196px;
border: solid 1px black;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 24px;
font-weight: bold;
color: white;

}

.dicapronuncia {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21px;
  font-weight: bold;
  color: white;
  position: fixed;
  background-color: rgb(71, 207, 78);
  height: 72px;
  width: 273px;
  margin-left: 275px;
  margin-top: 288px;
  border: solid 1px black;
  
  }