.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #f1f1f1;
    font-style: italic;
  }
  
  .sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    top:100px;
    left: 0;
    background-color: rgb(185, 174, 250);
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: -5px;
    margin-left: 15px;
  }
  
  .tela {
    margin-left: 300px; 
    margin-top: 120px;   
  }
  
  .header {
    overflow: hidden;
    background-color:  rgb(185, 174, 250);
    padding: 20px 10px;
    height: 50px;
    margin-top: 7px;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 30px;
    position: fixed; 
    top: 0;
    width: 100%; 
    transition: 0.2s;   
   }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    line-height: 40px;
    border-radius: 4px;
    margin-right: 50px;
    height: 1cm;
    width: 4cm;
  }
  
  .header a.logo {
    margin-left: 22px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .header a.logo:hover {
    background-color: rgb(185, 174, 250);
    font-size: 50px;
    font-weight: bold;
    }
  
  .header a.active {
    background-color: rgb(29, 2, 23);
    color: white;
    margin-right: 100px;
  }
  
  .header a:hover {
    background-color: rgb(168, 14, 135);
    color: black;
  }
  
  .header-right {
    float: right;
  }
  
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }